body {
  font-family: Arial;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

nav {
  background-color: rgba(0,0,0,1);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: capitalize /* why doesn't this work? */
}

a:hover { color: #aaa; }
a:visited {color: #888; }

figcaption {
  color: #aaa;
  font-family: sans-serif;
  font-size: .75em;
}

h1 {
  font-family: "Arial Black";
  font-size: 3em;
  font-weight: normal;
}

h3 {
  color: #888;
  font-size: 1.5em;
  line-height: 1.2em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author {
  color: #aaa;
  text-transform: capitalize; /* why doesn't this work? */
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

p {
  line-height: 1.5em;
}
